body {
   
    margin: 0;
    padding: 0;
       
}

.btn-primary:hover {
    background-color: black;
}

button[title='Hooray!']{
    background-color: red;
}

.tooltip-text {
    background-color: white;
    visibility: hidden;
    width: 200px;
    height: 50px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    right: 50%;
    z-index: 1;
  }

  .toolTip:hover .tooltip-text {
    visibility: visible;
  }
